# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Declare files that will always have LF line endings on checkout.
# *.y text eol=lf
*.tar.gz filter=lfs diff=lfs merge=lfs -text
