language: go

go_import_path: github.com/hanchuanchuan/goInception

go:
  - "1.12"

services:
# - docker
- mysql

# SHORT=1 跳过goInception审核和执行测试

env:
  - TRAVIS_COVERAGE=0
  - TRAVIS_COVERAGE=1

# install:
#   - netstat -nltp
#   - docker run -p 4306:3306 --name mysql -e MYSQL_ROOT_PASSWORD=travis -d mysql:5.7

# Run coverage tests.
matrix:
  fast_finish: true
  allow_failures:
    - go: "1.12"
      env: TRAVIS_COVERAGE=1

before_install:
  # create /logs/unit-test for unit test.
  - sudo mkdir /logs
  - sudo touch /logs/unit-test
  # See https://github.com/golang/go/issues/12933
  - bash gitcookie.sh
  - sudo chmod +x cmd/explaintest/run-tests.sh

  - mysql -e 'select version()'
  - mysql -e "create database if not exists test DEFAULT CHARACTER SET utf8;create database if not exists test_inc DEFAULT CHARACTER SET utf8;"
  - mysql -e "grant all on *.* to test@'127.0.0.1' identified by 'test';FLUSH PRIVILEGES;select '初始化成功!';"

  # 关闭数据库,重启并开启binlog,设置字符集
  - ps -ef|grep mysql
  - sudo service mysql stop
  - sudo mysqld --lower_case_table_names=1 --log-bin=on --server_id=111 --character-set-server=utf8 &
  - ps -ef|grep mysql

script:
  - rm -f go.sum
  # - docker ps
  - make dev upload-coverage

after_failure:
  - netstat -nltp
  - ps -ef|grep mysql
