/* .vuepress/styles/index.styl */

// img + .icon.outbound {
//   display: none;
// }

.theme-default-content.custom {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}

a[target] span {
  display: none !important
}


.gitbook-link {
    display: none !important;
}

.book .book-body .page-wrapper .page-inner {
    max-width: 1000px;
}

.markdown-section table{
    display: block;
}

.aceCode {
  font-size: 14px !important;
}

.page-footer-ex-footer-update {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-footer-ex-copyright {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.markdown-section p>code,.markdown-section table tr td code{
    color: red;
}

.text-success{
    font-weight: bold;
    font-size: 22px;
    color: #28a745!important;
}


.text-success-small{
    font-weight: bold;
    color: #28a745!important;
}

.text-error{
    font-weight: bold;
    font-size: 22px;
    color: #dc3545!important;
}

.progress{
    width: 100px;
    height: 20px;
    margin: 10px auto;
    position: relative;
    border:1px solid #ddd;
    border-radius: 10px;
}

.rect{
    height: 20px;
    position: absolute;
    top:0;
    color: #007bff!important;
    border-radius: 10px;
    overflow: hidden; /*注意这里*/
}
.left{
    left:0;
    border-radius: 10px 0px 0px 10px;
    background-color: #007bff!important;
    height: 20px;
}

/*.left::after {
    display: block;
    content: ' ';
    width: 100px;
    height: 200px;
}*/
